@media (max-width: 1560px){
  .dicr-groups .dicr-groups-item ul li{
    font-size: 12px;
  }
  .dashin-flow .diflow-item .diflow-title{
    font-size: 12px;
  }
  .dashin-flow .diflow-part4 .diflow-item .diflow-title{
    width: 64.6%;
  }
  .dashin-flow .diflow-part4 .diflow-item:hover .intro{
    z-index: 100;
  }
  .dashin-flow .diflow-item .diflow-num{
    font-size: 12px;
  }
  .dashin-flow .dif-body .diflow-groups .diflow-item{
    padding: 0px 5px;
    line-height: 32px;
  }
  .dashcus-analysis .dc-title{
    font-size: 24px;
    line-height: 50px;
    margin-top: 0;
  }
  .dc-chart-item .dc-chart-wrapper .dc-chart-item{
    padding-right: 20px;
  }
  .financial-bg .hrpan-num{
    font-size: 2.6rem;
  }
  .financial-bg .hrpan-intro{
    padding-top: 5px;
  }
  .dc-map-service .dc-employe-item .dc-map-num{
    font-size: 20px;
  }
  .dashtop-panel-iwrapper .dtpanel-item-num{
    font-size: 30px;
  }
  .dashzwork-analysis .dz-body .dz-isubtitle{
    font-size: 14px;
  }
  .dashzwork-analysis .dz-body .dz-item-title-num{
    font-size: 18px;
  }
  .dashzwork .hrpan-num{
    font-size: 2.8rem;
  }
  .dashzwork .zp-subpart{
    font-size: 14px;
    right: 10px;
  }
}
@media (min-width: 1280px) and (max-width: 1559px){
  .dashin-lwrapper .dashin-flow .dif-body{
    height: 293px;
  }
  /* .dashin-flow .diflow-groups .diflow-num{
    float: left;
  } */
  .dashin-flow .diflow-lines .difflow-box{
    height: 187px;
  }
  .dicr-body .dicr-total-num{
    font-size: 28px;
  }
  .dashinc-body .dashin-rwrapper .dash-map-common-box{
    min-height: 507px;
  }
  .dashinc-body .dicr-body{
    padding: 20px 0;
  }
  .dashin-flow .diflow-part1 .diflow-groups .diflow-item{
    padding: 0px 5px;
    line-height: 28px;
  }
  .dashin-flow .dif-body .diflow-part1{
    padding-top: 15px;
  }
} 
@media (max-width: 1280px){
  .dashcus-body .dc-map-service .dc-employe-groups{
    padding-top: 24px;
  }
  .dashcus-analysis .dashcus-body .dc-mitem-title{
    font-size: 14px;
  }
}