.fcontainer .adminList{
  padding-left: 15px;
}
.adminList li i{
  font-style: normal;
}
.atitle-item strong{
  font-weight: normal;
  color: #666;
}
.adminList li{
  line-height: 40px;
  font-size: 14px;
  overflow: hidden;
  /* border-bottom: solid 1px #ececec; */
}
.arank{
  width: 12%;
  text-align: center;
  float: left;
}
.aorg{
  width: 50%;
  text-align: center;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  float: left;
}
.amoney{
  width: 38%;
  text-align: center;
  float: left
}